<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome one and all!</h1>
    <h2>Visit the links below to travel to other pages</h2>
    <h3>
        <a href="formula1">Formula 1</a> <br>
        <a href="snow">Snowboardin'</a> <br>
        <a href="music">RHCP</a> <br>
        <a href="blank">Nothingness...</a><br>
        <a href="secret">Top Secret</a>
    </h3>
</body>
</html>