<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music
    </title>
</head>
<body>
    <a href="/">HOME</a> <br>
    <img src="https://www.gratefulweb.com/sites/default/files/styles/article_main_image_display/public/518cg6vhz-l._sl500_aa300_.jpg?itok=a-_lCMAM
    " alt="rhcp album cover"
    height="300px">
    <h1>Stadium Arcadium</h1>
    <h2> - RHCP</h2>
    <p>Bells around St. Petersburg <br>
        When I saw you <br>
        I hope I get what you deserve <br>
        And this is where I find<br><br>
        Smoke surrounds your perfect face<br>
        And I'm falling<br>
        Pushin' a broom out into a space<br>
        And this where I find a way<br><br>
        The stadium arcadium<br>
        A mirror to the moon (a mirror to the moon)<br>
        Well, I'm forming and I'm warming<br>
        State of the art<br>
        Until the clouds come crashing<br><br>
        Stranger things have happened both<br>
        Before and after noon (before and after noon)<br>
        Well, I'm forming and I'm warming<br>
        Pushin' myself and no, I don't mind asking now<br><br>
        Alone inside my forest room<br>
        And it's stormin'<br>
        I never thought I'd be in bloom<br>
        But this is where I start<br><br>
        Derelict days and the stereo plays<br>
        For the all night crowd that it cannot phase<br>
        And I'm calling<br><br>
        Tedious weeds that the media breeds<br>
        But the animal gets what the animal needs<br>
        And I'm sorry<br><br>
        The stadium arcadium<br>
        A mirror to the moon (a mirror to the moon)<br>
        Well, I'm forming and I'm warming<br>
        The state of the art<br>
        Until the clouds come crashing<br><br>
        Stranger things have happened both<br>
        Before and after noon (before and after noon)<br>
        Well, I'm forming and I'm warming<br>
        Pushin' myself and no, I don't mind asking now<br><br>
        And this is where I find<br>
        Rays of dust that wrap around your citizen<br>
        Kind enough to disavow<br>
        And this is where I stand<br><br>
        The stadium arcadium<br>
        A mirror to the moon (a mirror to the moon)<br>
        Well, I'm forming and I'm warming<br>
        The state of the art<br>
        Until the clouds come crashing<br><br>
        Stranger things have happened both<br>
        Before and after noon (before and after noon)<br>
        Well, I'm forming and I'm warming<br>
        Pushin' myself and no, I don't mind asking<br><br>
        The stadium arcadium<br>
        A mirror to the moon (a mirror to the moon)<br>
        Well, I'm forming and I'm warming<br>
        State of the art<br>
        Until the clouds come crashing<br><br>
        Stranger things have happened both<br>
        Before and after noon (before and after noon)<br>
        Well, I'm forming and I'm warming<br>
        To you...</p>
</body>
</html>